<h1>Show Stock</h1>

<ul>

  <li>
    <strong>Quantity:</strong>
    <%= @stock.quantity %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.stock_path(@conn, :edit, @stock) %></span> |
<span><%= link "Back", to: Routes.stock_path(@conn, :index) %></span>
