<h1>Edit Quote request</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.quote_request_path(@conn, :update, @quote_request)) %>

<span><%= link "Back", to: Routes.quote_request_path(@conn, :index) %></span>
