<h1>New Quote request</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.quote_request_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.quote_request_path(@conn, :index) %></span>
